body
{
  padding: 0;
  margin: 0;
}
iframe
{
  width: calc(100% - 0.25rem);
  overflow: hidden;
  padding: 0;
  margin: 0;
}

@media (orientation: portrait)
{
  iframe
  {
    height: calc(100vmax - 0.65rem);
  }
}

@media (orientation: landscape)
{
  iframe
  {
    height: calc(100vmin - 0.65rem);
  }
}